@{
    ViewData["Title"] = "Products";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="@product.ImagePaths[0]" alt="@product.ImageAlts[0]" style="object-fit: scale-down; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text" style="height: 50px;">@product.Category.Name - @product.SubCategory.Name</p>
                    <a class="btn btn-primary" asp-controller="Products" asp-action="Get" asp-route-id="@product.Id">Details</a>
                    <a class="btn btn-warning" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
